

#main-cards{
    /* border: 1px solid red; */
    /* width: 100%; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

#card-text{
    /* font-size: 1.2em; */
    text-align: center;
}


#card-text:hover{
    color: red;
}

.card{
    background-color: #eaeeef;
}

.card:hover{
    border: 1px solid red;
}